:root{
    --primary-color:#f037f0f1;
    --secondary-color: #31333b;
    --secondary-color-ligth: #444856;
    --secondary-color-dark: #23252d;

    --default-gap:3rem;
}


.icon {
  width: 2.2em;
  height: 2.2em;
  margin-bottom: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
