/* General */

:root{
    --primary-color:#f037f0f1;
    --secondary-color: #31333b;
    --secondary-color-ligth: #444856;
    --secondary-color-dark: #23252d;

    --default-gap:3rem;
}

html{
    font-size: 62.5%;
}

body {
    display: flex;
    margin: 0;
    color: #e7e7e7;
    background-color: #ccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    line-height: 1.7;
    background-image: url(../images/bg-unsplash.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main, .main-header {
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
    color: #c9c6c6;
    margin:2rem 0 3rem ;
}

h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin: 0;
    font-weight: bold;
}

h2 {
    margin-top: 1.5rem;
}

article {
    padding: 1em 0;

}

section {
    margin-bottom: 3rem;
}

.underline {
    text-decoration: underline wavy red;
}

/* Header */
.main-header {
    flex: 0 0 26rem;
    background-color: rgb(68, 72, 86, .4);
}

/* Perfil */
.profile {
    max-width:10rem;
    height: 10rem;
    border-radius: 50%;
}

/* Navbar */

.main-navbar{
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;
    position: sticky;
    top: 0;
    left: 0;
}

.main-navbar ul {
    list-style: none;
    padding: 0;
    width:100%;
}

.main-navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 1.2rem 0;
    transition: all .3s ease-in-out;
    background-color: transparent;
}

.main-header nav ul li a:hover, .main-header nav ul li a:focus {
    background-color: var(--secondary-color-ligth);
    padding-right: 1rem;
}

.main-navbar ul li {
    border-bottom: 1px solid #7b7b7b;
    padding: .4rem 0;
}

/* Main content */

main {
    background-color: var(--secondary-color-ligth);
    background-color: rgb(68, 72, 86, .6);
    flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;
    /* min-height: 100vh; */
}

a {
    color: inherit;
}

/* Articles */

.highlight {
    padding:0 0 0 2em;
    border-left: 3px solid var(--primary-color);
    font-size: 1.2em;
    margin-bottom: 2.2em;
}

/* Cards */

.card {
    max-width: 740px;
    background-color: var(--secondary-color);
    padding: 0;
}

.card_content {
    padding: .5em 1em 1em;
}

.card_content p, .card_content .card_title {
    margin: 0;
}

.card_title {
    font-size: 1.75em;
    margin-bottom: .5em;
}

.card img {
    max-width: 100%;
}

.row {
    display: flex;
    gap:var(--default-gap);
    padding: 1em 0;
    justify-content: space-between;
}

.row > * {
    flex: 1 0 0%;
}

.row .row {
    padding: 0;
}

.alternate {
    list-style: none;
    padding: 0;
}
.alternate li:not(:last-child) {
    border-bottom: 2px solid ;
}

.roman {
    list-style-type: upper-roman;
}

.list-emoji {
    list-style-type:"\1F642" ;
}

/* Forms */

 input, label, textarea, select {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

input, textarea, select {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #c9c6c6
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
}

.btn  {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color-dark);
    color: inherit;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 1.2rem;
    padding:.8em 1.2em;
}

.btn:hover {
    background-color: #c9c6c6;
    color: var(--secondary-color);
}

.form-quiz {
    /* width: calc(50% - 1.5rem); */
    width: calc(50% - (var(--default-gap)/2));
}

.btn-stroke {
    background-color: transparent;
}

/* Buttons */

.btn + .btn {
    margin-left: 2rem;
}

.btn-big {
    font-size: 1.6rem;
}

.btn-full {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.btn-full + .btn-full {
    margin-left: 0;
    margin-top: 2rem;
}

/* Tables */

.table {
    width: 100%;
    border-collapse:collapse ;
}

.table td:last-child,.table th:last-child  {
    text-align: right;
}

.table td, .table th {
    padding: 1.6rem;
}

.table:not(.table-alternate) td {
    border-bottom: 2px solid var(--secondary-color-dark);
}

.table th {
    text-align: left;
    text-transform: uppercase;
}

.table-alternate tbody tr:nth-child(odd){
    background-color: var(--secondary-color);
}

.table-verticalLines td:not(:last-child), .table-verticalLines th:not(:last-child) {
    border-right: 1px solid var(--secondary-color-dark);
}